doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Document
    style.
      :root {
      --white: #f1f1f1;
      }
      body {
      font-family: Helvetica, Arial, sans-serif;
      color: #333;
      }
      .outer-container {
      width: 60vw;
      min-width: 400px;
      height: 96vh;
      margin: 1rem auto;
      border-radius: 5px;
      }
      .inner-container {
      width: 90%;
      height: 90%;
      margin: 0 auto;
      }
      .btn-container {
      margin-top: 2rem;
      }
      .btn {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 10px;
        color: #333;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 100;
        padding: 10px 80px;
        border: solid #8965e0 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
      }
      .btn:hover {
        border: solid #1b435e 1px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 10px;
        text-decoration: none;
      }
      .queries {
      margin: 2rem auto 0;
      padding: 0.4rem;
      height: 10vh;
      max-width: 640px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      }
      .query-img {
      align-items: center;
      align-self: flex-end;
      padding: 10px;
      }
      .query-desc {
      align-items: center;
      align-self: flex-start;
      padding: 10px;
      line-height: 0.5;
      }
      .contact {
      margin-top: 1.5rem;
      font-size: 0.75rem;
      }
      .query-link {
      text-decoration: none;
      }
      .contact-link {
      text-decoration: none;
      }
      .line {
      margin-top: 1.5rem;
      width: 3rem;
      border-left: none;
      border-right: none;
      border-bottom: none;
      }
  body
    center
      .outer-container
        .inner-container
          section.logo
            img(src='https://img.icons8.com/bubbles/100/000000/email.png')
          section.welcome
            h1 Hey!
            h2 Welcome to Appmon!
          section.verify
            h4
              | Invalid Page Url. Seems like you are lost. hmm.
              br
            h6
              | If you are having issues, contact our support team for more information
              br
          footer.contact
            a.contact-link(href='http://admin@appmon.com') Contact
            p
              | Bangalore, Ind 420420
              br
              | © 2020 Appmon